$white: #ffffff;
$black: #000000;
$primary1: #30cec3;
$primary2: #fc4054;
$textCol: #999;

// import fonts - font-family: 'Sen', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap');

@mixin main-font {
  font-family: 'Sen', sans-serif;
}

@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;

  &:hover {
    background-color: darken($color: $col1, $amount: 10);
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}

body {
  @include main-font;
  color: #0c0c0c;
  background-color: #f8f8f8;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    margin: 0;

    span {
      color: $primary1;
    }
  }

  h3 {
    font-weight: bold;
  }

  &.heading_center {
    align-items: center;
    text-align: center;
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

.container_border_style {
  position: relative;
  padding: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 3px;
    height: 90px;
    background-color: $primary1;
    transform: translateY(-50%);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
}

.sub_page {
  .hero_area {
    height: auto;
  }

  .header_section {
    margin-top: 0;
  }
}

.header_section {
  background-color: $primary2;

  .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
}

.navbar-brand {
  margin: 0;
  padding: 0;
  position: relative;

  img {
    width: 75px;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: $white;
  }
}

.custom_nav-container {
  padding: 0;

  .navbar-nav {
    .nav-item {
      .nav-link {
        padding: 10px 25px;
        color: $white;
        text-align: center;
      }

      &:hover {
        .nav-link {}
      }
    }
  }
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: $white;
  margin: 0 20px;

  &:hover {}
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all 0.3s;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $white;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $white;
      top: -10px;
      border-radius: 5px;
      transition: all 0.3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }

    .s-1 {
      transform: rotate(45deg);
      margin: 0;
      margin-bottom: -4px;
    }

    .s-2 {
      display: none;
    }

    .s-3 {
      transform: rotate(-45deg);
      margin: 0;
      margin-top: -4px;
    }
  }

  &[aria-expanded="false"] {

    .s-1,
    .s-2,
    .s-3 {
      transform: none;
    }
  }
}

.quote_btn-container {
  display: flex;
  align-items: center;

  a {
    color: $white;

    span {
      margin-left: 5px;
    }

    &:hover {}
  }
}

/*end header section*/

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  padding-top: 45px;
  padding-bottom: 75px;
  background-color: #f2f0f5;

  .row {
    align-items: center;
  }

  #customCarousel1 {
    width: 100%;
    position: unset;
  }

  .detail-box {
    h1 {
      font-weight: bold;
      margin-bottom: 25px;
      font-size: 2.7rem;

      span {
        font-size: 4rem;
        color: $primary1;
      }
    }

    .btn-box {
      display: flex;
      margin: 0 -5px;
    }

    a {
      margin: 5px;
      width: 195px;
      text-align: center;
    }

    .btn-1 {
      @include hero_btn(#f8f8f8, $black, 15px, 15px, 0);
    }

    .btn-2 {
      @include hero_btn($black, $white, 15px, 15px, 0);
    }
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .carousel_btn-box {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    z-index: 3;
    font-size: 22px;

    .carousel-control-prev,
    .carousel-control-next {
      position: unset;
      width: 50px;
      height: 50px;
      background-color: $primary1;
      opacity: 1;
      font-size: 28px;
      transition: all .3s;

      &:hover {
        background-color: $white;
        color: $black;
      }
    }
  }
}

// end slider section

// about section
.about_section {
  .row {
    align-items: center;
  }

  .img-box {
    img {
      max-width: 100%;
    }
  }

  .detail-box {
    p {
      color: $textCol;
      margin-top: 15px;
    }

    a {
      @include hero_btn($black, $white, 15px, 45px, 0px);
      margin-top: 15px;
    }
  }
}

// end about section

// service section

.service_section {
  position: relative;

  .row>div {
    order: 1;
  }

  .heading_container {
    h2 {
      text-transform: none;
    }
  }

  .box {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .img-box {
      width: 75px;
      height: 75px;
      background-color: $primary1;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 50px;
      }
    }

    .detail-box {
      margin-top: 15px;

      h4 {
        font-weight: bold;
      }

      a {
        text-transform: uppercase;
        color: $primary1;

        &:hover {
          color: $primary2;
        }
      }
    }

    &:hover {
      .img-box {
        background-color: $primary2;
      }
    }
  }

  .service_col_middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .box {
      justify-self: center;
      margin-bottom: 15%;
    }
  }

  a {
    justify-self: flex-end;
    @include hero_btn($black, $white, 15px, 45px, 0px);
  }
}

// end service section

// pay section

.pay_section {
  background: linear-gradient(110deg, transparent 25%, $primary2 25%);
  padding: 55px 0;
  color: $white;

  .row {
    align-items: center;
  }

  .img-box {
    img {
      width: 100%;
    }
  }

  .detail-box {
    a {
      @include hero_btn($black, $white, 15px, 45px, 0);
      margin-top: 25px;
    }
  }
}

// end pay section

// client section

.client_section {
  .heading_container {
    margin-bottom: 35px;
  }

  .box {
    margin: 15px 60px;
    border: 1px dotted $black;
    padding: 25px;
    text-align: center;

    h5 {
      font-weight: 600;
      color: $black;
      text-transform: uppercase;
    }

    p {
      margin-top: 15px;
    }

    i {
      font-size: 24px;
      color: $primary1;
    }
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 50px;
    height: 50px;
    background-color: $primary1;
    opacity: 1;
    font-size: 28px;
    font-weight: bold;
    top: 50%;
    transform: translateY(-50%);
  }

  .carousel-control-prev {
    left: 0;
  }

  .carousel-control-next {
    right: 0;
  }
}

// end client section

// contact section
.contact_section {
  position: relative;

  .heading_container {
    margin-bottom: 25px;

    h2 {
      text-transform: uppercase;
    }
  }

  .form_container {
    margin-right: 45px;

    input {
      width: 100%;
      border: 1px solid #b0b0b0;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 15px;
      background-color: transparent;
      outline: none;
      color: #101010;

      &::placeholder {
        color: #b0b0b0;
      }

      &.message-box {
        height: 120px;
      }
    }

    button {
      border: none;
      text-transform: uppercase;
      @include hero_btn($primary2, $white, 15px, 65px, 0);
      font-weight: bold;
    }
  }

  .sub_form {
    input {
      background-color: transparent;
      padding: 10px;
      outline: none;
      width: 100%;
      min-width: 100%;
      color: $white;
      border: 1px solid #b0b0b0;

      &::placeholder {
        color: #b0b0b0;
      }
    }

    button {
      margin-top: 15px;
      @include hero_btn($primary1, $white, 12px, 65px, 0);
      display: block;
      width: 100%;
      text-align: center;
      background-color: $primary1;
      color: $white;
      text-transform: uppercase;
      font-weight: bold;
      outline: none;
      border: none;
    }
  }
}

// end contact section

// info section
.info_section {
  background-color: #252525;
  color: $white;
  padding-top: 45px;

  .contact_nav {
    display: flex;
    padding: 25px 0;

    .box {
      flex: 1;
      display: flex;
      justify-content: center;
    }

    a {
      margin: 0;
      display: flex;
      flex-direction: column;
      color: $white;

      h4 {
        margin-top: 5px;
        font-weight: bold;
      }

      i {
        font-size: 24px;
        color: $primary1;
      }

      &:hover {
        i {
          color: $primary2;
        }
      }
    }
  }

  hr {
    border: none;
    margin: 15px 0 45px 0;
    background-color: #01c4b6;
    height: 0.8px;
  }

  .info_links {
    .info_links_menu {
      display: flex;
      justify-content: center;

      a {
        color: $white;
        margin: 5px 10px;

        &:hover,
        &.active {
          color: $primary2;
        }
      }
    }
  }

  .social_box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 45px 0;

    a {
      color: $white;
      font-size: 18px;
      margin: 0 15px;

      &:hover {
        color: $primary2;
      }
    }
  }
}

// end info section
/* footer section*/

.footer_section {
  position: relative;
  background-color: #252525;
  text-align: center;

  p {
    color: $white;
    margin: 0;
    padding-bottom: 25px;

    a {
      color: inherit;
    }
  }
}

// end footer section